.empty-cart-title {
  text-align: center;
  margin-top: 200px;
  font-size: 35px;
  font-weight: 500;
}

.empty-cart-button-position {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 200px;
}

.empty-cart-button {
  border: 2px solid black;
  border: 1px solid #d2d2d2;
  background-color: white;
  padding: 15px;
  font-weight: 700;
  width: 300px;
}

.cart-wrapper {
  padding: 20px;
}

.cart-title {
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
}

.cart-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.cart-top-buttons {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #dfdfdf;
  background-color: #dfdfdf;
  width: 200px;
}

.cart-top-buttons-checkout {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: black;
  border: 1px solid black;
  width: 200px;
  color: white;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.cart-info {
  flex: 3;
  height: 250px;
  /* border: 1px solid #d8d1d1; */
}

.cart-product {
  display: flex;
  /* justify-content: space-between; */
}

.cart-product-name {
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-right: 40px;
  text-transform: uppercase;
}

.cart-details {
  flex: 2;
  display: flex;
  /* position: relative; */
  padding: 10px;
  margin-left: 40px;
  margin-right: 20px;
}

.cart-product-image {
  width: 200px;
}

.cart-product-details {
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  /* justify-content: space-around; */
}

.cart-amount-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cart-amount {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.cart-product-amount {
  font-size: 24px;
  margin: 20px;
}

.cart-product-price {
  font-size: 20px;
  font-weight: 600;
}

.cart-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
}

.cart-summary {
  flex: 1;
  border: 0.5px solid lightgray;
  background-color: #d8d1d1;
  padding: 20px;
  height: 50vh;
  margin-top: 50px;
  margin-left: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cart-summary-title {
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 50px;
}

.cart-summary-item {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.cart-total {
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 20px;
  margin-top: 50px;
}

.cart-total-price {
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 20px;
  margin-top: 50px;
}

.input-code {
  width: 110px;
  margin-left: 30px;
  border: none;
}

.input-code-button {
  flex: 1;
  border: none;
  background-color: #9b9292;
  color: black;
  letter-spacing: 5px;
  font-weight: 500;
  width: 30px;
}

.cart-summary-button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
  border: 1px solid black;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .cart-wrapper {
    padding: 10px;
  }

  .cart-bottom {
    flex-direction: column;
  }

  .cart-product {
    flex-direction: column;
  }

  .cart-product-amount {
    margin-bottom: 20px;
  }
}
