.navbar {
  /* background-color: #019d3a; */
  background-color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar {
  display: flex;
  margin-left: 20px;
  cursor: pointer;
}

.logo {
  text-align: center;
  font-size: 40px;
  margin-left: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
  font-family: "Forum", cursive;
}

/* .logo:hover {
  color: #019d3a;
} */

.navbar-items {
  margin-left: auto;
  display: flex;
}

.navbar-item {
  list-style: none;
  padding: 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-item-style {
  text-decoration: none;
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  margin-right: 20px;
}

.input-with-icons {
  height: 25px;
  width: 250px;
  margin-right: 30px;
  position: relative;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.input-with-icons input[type="text"] {
  width: 100%;
}

.icon-search {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  height: 18px;
}

.icon-camera {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
}

.shopping-bag-style {
  padding: 10px;
  font-size: 12px;
  position: relative;
}

.shopping-bag-item {
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #b4a5a5;
  color: black;
  position: absolute;
  right: 4px;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  position: absolute;
  top: 90px;
  left: 0;
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 11;
}

.sidebar-categories {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.sidebar-categories-list {
  display: inline-block;
  text-decoration: underline;
  margin-left: 20px;
  margin-top: 30px;
  letter-spacing: 3px;
  font-weight: 600;
}

.sidebar-categories-items-container {
  margin-top: 50px;
}

.sidebar-categories-items {
  text-align: left;
  margin-top: 20px;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 25px;
  }
}
