.products-page {
  padding: 30px 50px;
  display: flex;
}

.category-name-products {
  text-align: center;
  margin-top: 50px;
  color: #313131;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.category-description-products {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  color: #666;
  font-weight: 500;
  font-size: 19px;
  margin-top: -10px;
}

.left-part {
  flex: 1;
}

.right-part {
  flex: 3;
  margin-left: 40px;
  margin-right: 40px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2px;
}

.price-select-label {
  font-size: 15px;
  margin: 0 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.price-select {
  text-align: center;
  margin-left: 5px;
  width: 125px;
  height: 25px;
  background-color: white;
  border: 1px solid rgb(217, 214, 214);
}
