.register-title {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 500;
}

.register-subtitle {
  color: #666;
  text-align: center;
  letter-spacing: 2px;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.register-button-position {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.register-button {
  background-color: #313131;
  color: white;
  border-color: #313131;
  width: 350px;
  padding: 10px;
}

.error-message {
  font-size: 11px;
  color: #f45b69;
}

@media only screen and (max-width: 767px) {
  .register-title {
    font-size: 20px;
  }

  .register-container {
    flex-direction: column;
  }

  .register-button {
    width: 250px;
  }
}
