.wishlist-title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 5px;
  margin-top: 50px;
}

.wishlist-subtitle {
  text-align: center;
  font-size: 15px;
  color: #666;
  letter-spacing: 3px;
  font-weight: 500;
}

.wishlist-table {
  width: 100%;
  margin-top: 10px;
}

th,
td {
  text-align: center;
  padding: 8px;
}

.wishlist-image-container {
  width: inherit;
  height: inherit;
}

.wishlist-image {
  width: 120px;
  height: auto;
}

.wishlist-product-name {
  font-weight: 500;
  letter-spacing: 2px;
  width: 150px;
}

.wishlist-page-button {
  background-color: #313131;
  color: white;
  border-color: #313131;
  width: 120px;
  padding: 10px;
}
