.table-position {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 100vh;
  margin-top: -300px;
  margin-left: 450px;
}

.tabel-title {
  text-align: center;
  font-weight: 600;
  font-size: 27px;
  margin-left: 450px;
  margin-top: -40px;
  margin-bottom: 50px;
}

.custom-datagrid {
  color: black;
  font-weight: 600 !important;
}
